@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* SHARED STYLE */
.display_flex {
  display: flex;
}
.nav {
  align-items: center;
  justify-content: space-between;
}
.nav_item {
  gap: 34px;
  list-style-type: none;
}
.nav_item > ul > li {
  text-decoration: none;
}
li > a {
  text-transform: none;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.icon {
  gap: 34px;
  align-items: center;
}
.header {
  max-width: 1140px;
  margin: 0 auto;
}
.nav_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a3a3a;
}
.banner {
  align-items: center;
  gap: 133px;
  margin: 50px;

  max-width: 1140px;
  margin: 50px auto;
}
.banner_content {
  max-width: 582px;
}
.banner_img_content {
  background-image: url('/images/Circle\ design.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border: 3px solid rgb(241, 228, 255);
  border-radius: 50%;
}
.banner_title {
  font-size: 3.25rem;
  font-size: 700;
  color: #3a3a3a;
}
.banner_description {
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}
.btn_1 {
  border-radius: 41px;
  background: rgb(224, 44, 109);
  border: none;
  padding: 10px 24px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
}
.banner_img {
  width: 100%;
}
.res_cart,
.res_bars {
  display: none;
}
.sponsor {
  max-width: 1110px;
  margin: 0 auto;
  /* text-align: center; */
}
.sponsor_logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* border-top: 1px solid black; */
  padding: 15px 0 15px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.popular_cart {
  max-width: 329px;
  max-height: auto;
  padding: 14px 17px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}
.popular_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
}
.polular_collection {
  max-width: 1047px;
  margin: 0 auto;
  margin-top: 100px;
}
.popular_cart > img {
  border-radius: 5px;
}
.col_header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(58, 58, 58);
}
.cart_title {
  font-size: 1.75rem;
  font-weight: 500;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 6px;
}
.cart_price {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000de;
  margin: 0px;
}
.rating_container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: ;
}
.fa-star {
  color: orange;
}
.ratin_point {
  font-size: 0.875rem;
  font-weight: 700;
  color: #5e6366;
}
.cart_description {
  font-size: 0.875rem;
  font-weight: 700;
  color: #787885;
  margin: 0px;
  max-width: 196px;
}
.btn_2 {
  /* text-align: right; */
  margin-top: 50px;
  color: #e02c6dde;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border: none;
}
.grid_btn {
  text-align: right;
}

/* Featured products at one place */
.product {
  max-width: 1110px;
  margin: 0 auto;
  gap: 96px;
  margin-top: 100px;
}
.product_container {
  max-width: 610px;
}
.produt_img {
  width: 100%;
}
.product_title {
  font-size: 2.375rem;
  font-weight: 700;
  color: #0a0826;
}
.product_description {
  font-size: 1rem;
  font-weight: 700;
  color: #6c6c6c;
}
.btn_3 {
  padding: 10px 24px;
  background: rgb(224, 44, 109);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
/* FOOTER */
footer {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(58, 58, 238, 0.291);
}
.footer_container {
  /* max-width: 262px; */
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px 30px 0px;
  color: white;
}
.footer_title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #000000de;
  margin: 0px;
}
.footer_sub_title,
.footer_sub_head {
  font-size: 0.875rem;
  font-weight: 700;
  color: #000000de;
  margin: 0px;
}
.footer_icon {
  display: flex;
  justify-content: center;
  gap: 9px;
  color: black;
  text-decoration: none;
}
.footer_icon > a {
  color: black;
}

@media screen and (max-width: 576px) {
  .icon,
  .banner {
    flex-direction: column;
  }
  .nav_item {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner_title {
    margin-top: -70px;
    font-size: 1.75rem;
  }
  .banner_description {
    font-size: 0.875rem;
    max-width: 321px;
    margin: 0 auto;
  }
  .banner_img {
    width: 100%;
  }
  .banner_content {
    text-align: center;
  }
  .banner_img_content {
    width: 80%;
    margin: 0 auto;
  }
  .btn_1 {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .res_cart,
  .res_bars {
    display: inline;
    margin: 0 auto;
  }
  .sponsor_logo {
    grid-template-columns: repeat(3, 1fr);
    border: none;
    gap: ;

    /* margin-top: 50px; */
    max-width: 275px;
    margin: 0 auto;
    padding: 0px;
    row-gap: 10px;
  }
  .popular_img {
    grid-template-columns: repeat(1, 1fr);
  }
  .popular_cart > img {
    border-radius: 5px;
    width: 100%;
  }
  .popular_cart {
    max-width: 100%;
  }
  .product {
    flex-direction: column-reverse;
  }
  .product_container {
    text-align: center;
    margin-top: -90px;
  }
  .produt_img {
    margin-top: -70px;
  }
  .footer_container {
    margin-top: -80px;
  }
}
